# CI/CD UDAGRAM => Build & Push to DockerHub

name: Udagram > CI/CD > Github Actions
# Trigger
on:
  # Push ou Pull Request on @main
  push:
    branches: [ main ] 
  pull_request:
    branches: [ main ]

# Start Jobs
jobs:
  configuration: # Environnement config
    runs-on: ubuntu-latest
    steps:

    # Checkout du repo
    - name: Checkout App Code
      uses: actions/checkout@v3

    # Login to DockerHub
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # Setup BuildKit builder
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    
    # Build & Push frontend
    - name: Build and push frontend
      uses: docker/build-push-action@v4
      with:
        file: ./udagram-frontend/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/udagram-frontend:latest
    
    # Build & Push api-feed
    - name: Build and push api-frontend
      uses: docker/build-push-action@v4
      with:
        file: ./udagram-frontend/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/udagram-frontend:latest